<a href="https://colab.research.google.com/github/kwak-jae-yong/python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.자료형 출력하기

In [1]:
print("hello python!")

hello python!

In [3]:
#정수형
x=10
y=5
z=x+y
print(z)
print(type(z))
print(f"{x}와 {y}의 합은 {z}입니다")

15
<class 'int'>
10와 5의 합은 15입니다

In [4]:
#실수형
pi=3.14159
radius=5
area=pi*radius*radius

print(area)
print(f"pi:{pi},radius:{radius},area:{area}")
print(type(area))

78.53975
pi:3.14159,radius:5,area:78.53975
<class 'float'>

In [5]:
#문자열
name="james"
greeting =f"hello,{name}"

print(greeting)
print(type(greeting))

hello,james
<class 'str'>

In [12]:
#boolean

is_active=False

if is_active:
  print("활성화입니다")
else:
  print("비활성화입니다")
  print(type(is_active))

비활성화입니다
<class 'bool'>

In [13]:
#List

numbers=[1,2,3,4,5]
numbers.append(6)
print(numbers)

print(f"리스트의 길이:{len(numbers)}")
print(type(numbers))

[1, 2, 3, 4, 5, 6]
리스트의 길이:6
<class 'list'>

In [15]:
#tuple
cordinates =(10,20)
#cordinates[0]=30
print(cordinates[1])
print(type(cordinates))

20
<class 'tuple'>

In [18]:
#dist

person={
    "name":"jhon",
    "age":30,
    "city":"NewYork"
}

print(person["name"])
print(person["age"])
print(person["city"])
print(type(person))

jhon
30
NewYork
<class 'dict'>

In [20]:
#set
unique_numbers = {1,2,3,4,1,4,5,6}
print(unique_numbers)
print(type(unique_numbers))

{1, 2, 3, 4, 5, 6}
<class 'set'>